body
{
    margin: 0;
    padding: 0;
    font-size: 1.2em;
}

header
{
    width: 60%;
    margin-left: 20%;
    margin-top: 0;
    padding: 5px;
    background-color: #ddd;
    border-radius: 0 0 10px 10px;
}

img
{
    max-width: 250px;
    margin-left: 5px;
}

#preview
{
    height: 200px;
    margin: 5px;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}

section
{
    width: 60%;
    margin-left: 20%;
    margin-top: 10px;
    padding: 5px;
    font-family: sans-serif;
    background-color: #ddd;
    border-radius: 10px;
}

#uploadframe
{
    background-color: #bbb;
    box-shadow: 0 0 15px #888;
    visibility: hidden;
    position: absolute;
    width: 50%;
    left: 5%;
    top: 10%;
}

h1
{
    font-family: sans-serif;
    text-align: center;
}

#chatlist a
{
    text-decoration: none;
    color: black;
}

#chatlist p
{
    padding: 5px;
    margin: 5px;
    background-color: #eee;
    width: 150px;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
}

#chatlist p:hover
{
    background-color: #ccc;
}

a.button
{
    text-decoration: none;
    color: black;
}

p.button
{
    padding: 5px;
    margin-left: 5px;
    background-color: #eee;
    width: 150px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
}

p.button:hover
{
    background-color: #ccc;
}

#chat
{
    padding: 0;
    font-family: sans-serif;
    background-color: white;
}

#chat p
{
    margin: 0;
    padding: 3px;
    margin: 0;
}

#chat p:first-child
{
    border-radius: 10px 10px 0 0;
}

#chat p:nth-child(odd)
{
    background-color: #ddd;
}

#chat p:nth-child(even)
{
    background-color: #eee;
}

#chat p:last-child
{
    border-radius: 0 0 10px 10px;
}

#msg
{
    width: 70%;
    font-size: 1.2em;
    margin: 5px;
}

#usr
{
    width: 30%;
    font-size: 1.2em;
    margin: 5px;
}

#chat
{
    padding-top: 2px;
    padding-bottom: 2px;
}